<!-- Sidebar -->
<aside id="categories-menu"
    class="w-full lg:w-[348px] lg:pr-8 space-y-1 flex lg:block gap-2 overflow-x-auto lg:overflow-visible"
    hx-swap="morph:innerHTML" hx-get="/partial/categories"
    hx-trigger="htmx:afterRequest from:#do_favourite_form,htmx:afterRequest from:#do_archive_form,htmx:afterRequest from:#do_delete_form">
    {{> categories}}
</aside>

<!-- Content -->
<section class="flex-1">
    <div id="article-cards" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 lg:gap-8">
        {{> article_cards}}
    </div>
</section>