<!-- Main -->
<main class="flex flex-col lg:flex-row px-4 md:px-8 lg:px-[120px] pt-6 lg:pt-[76px] pb-8 lg:pb-12 gap-6 lg:gap-0"
    id="main-block">

    {{> articles_and_categories}}

</main>
<!-- DO NOT REMOVE THIS. Needed for wallabag android app autorization -->
<div style="display:none">
    <div class="center"><img src="" class="typo-logo" alt="wallabag logo"></div>
    <a href="/logout"><i class="material-icons">input</i> Logout</a>
</div>